In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("../data/raw/ONLINE_FOOD_DELIVERY_ANALYSIS.csv")

In [10]:
df.head()

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,NaN,Central,RES936,Restaurant_29,Chinese,10/20/2024,...,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,NaN,Female,Chennai,North,RES689,Restaurant_419,Chinese,8/12/2024,...,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,NaN,Male,Delhi,NaN,RES723,Restaurant_244,Arabian,12/8/2024,...,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,NaN,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,10/8/2024,...,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2/4/2024,...,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12

In [11]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Order_ID             100000 non-null  object
 1   Customer_ID          100000 non-null  object
 2   Customer_Age         49907 non-null   float64
 3   Customer_Gender      75144 non-null   object
 4   City                 83274 non-null   object
 5   Area                 83315 non-null   object
 6   Restaurant_ID        100000 non-null  object
 7   Restaurant_Name      100000 non-null  object
 8   Cuisine_Type         83115 non-null   object
 9   Order_Date           98986 non-null   object
 10  Order_Time           98002 non-null   object
 11  Delivery_Time_Min    66641 non-null   float64
 12  Distance_km          66530 non-null   float64
 13  Order_Value          66673 non-null   float64
 14  Discount_Applied     83285 non-null   float64
 15  Final_Amount         44303 non-null   float64
 16  Payment_Mode         80089 non-null   object
 17  Order_Status         100000 non-null  object
 18  Cancellation_Reason  9031 non-null    object
 19  Delivery_Partner_ID  100000 non-null  object
 20  Delivery_Rating      83477 non-null   float64
 21  Restaurant_Rating    100000 non-null  float64
 22  Order_Day            100000 non-null  object
 23  Peak_Hour            67038 non-null   object
 24  Profit_Margin        100000 non-null  float64
dtypes: float64(9), object(16)
memory usage: 19.1+ MB

In [12]:
df.isnull().sum().sort_values(ascending=False)

Cancellation_Reason    90969
Final_Amount           55697
Customer_Age           50093
Distance_km            33470
Delivery_Time_Min      33359
Order_Value            33327
Peak_Hour              32962
Customer_Gender        24856
Payment_Mode           19911
Cuisine_Type           16885
City                   16726
Discount_Applied       16715
Area                   16685
Delivery_Rating        16523
Order_Time              1998
Order_Date              1014
Order_ID                   0
Restaurant_Name            0
Restaurant_ID              0
Customer_ID                0
Order_Status               0
Delivery_Partner_ID        0
Restaurant_Rating          0
Order_Day                  0
Profit_Margin              0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df['Order_Status'].value_counts()

Order_Status
Delivered    84964
Cancelled    15036
Name: count, dtype: int64

In [15]:
df.groupby('Order_Status')['Delivery_Rating'].count()

Order_Status
Cancelled    12561
Delivered    70916
Name: Delivery_Rating, dtype: int64

In [16]:
df[['Order_Value', 'Delivery_Time_Min', 'Distance_km', 'Profit_Margin']].describe()

        Order_Value  Delivery_Time_Min   Distance_km  Profit_Margin
count  66673.000000       66641.000000  66530.000000  100000.000000
mean    2081.830126         127.475923     16.449242       0.150362
std     1553.628891          90.805839     12.256742       0.201888
min      150.000000          20.000000      1.000000      -0.200000
25%      673.000000          45.000000      5.470000      -0.020000
50%     1197.000000         120.000000      9.970000       0.150000
75%     3494.000000         210.000000     27.430000       0.320000
max     5000.000000         300.000000     40.000000       0.500000

In [17]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Age', 'Customer_Gender', 'City',
       'Area', 'Restaurant_ID', 'Restaurant_Name', 'Cuisine_Type',
       'Order_Date', 'Order_Time', 'Delivery_Time_Min', 'Distance_km',
       'Order_Value', 'Discount_Applied', 'Final_Amount', 'Payment_Mode',
       'Order_Status', 'Cancellation_Reason', 'Delivery_Partner_ID',
       'Delivery_Rating', 'Restaurant_Rating', 'Order_Day', 'Peak_Hour',
       'Profit_Margin'],
      dtype='object')

In [25]:
df['Order_Status'].unique()

array(['Delivered', 'Cancelled'], dtype=object)

In [26]:
df['Payment_Mode'].unique()

array(['UPI', 'COD', 'Wallet', 'Card', nan], dtype=object)

In [27]:
df['Customer_Gender'].unique()

array(['Male', 'Female', 'Other', nan], dtype=object)

In [28]:
df['Cuisine_Type'].nunique()

5

In [29]:
df['City'].nunique()

5

In [30]:
df['Order_Date'].head()

0    10/20/2024
1     8/12/2024
2     12/8/2024
3     10/8/2024
4      2/4/2024
Name: Order_Date, dtype: object

In [31]:
df['Order_Time'].head()

0    0:00
1    0:00
2    0:00
3    0:00
4    0:00
Name: Order_Time, dtype: object