In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/processed/cleaned_food_delivery.csv")

In [2]:
df['order_date'] = pd.to_datetime(df['order_date'])

df['day_type'] = df['order_date'].dt.dayofweek.apply(
    lambda x: 'Weekend' if x >= 5 else 'Weekday'
)

In [3]:
df["day_type"].value_counts()

day_type
Weekday    71632
Weekend    28368
Name: count, dtype: int64

In [8]:
df['is_peak_hour'] = df['peak_hour'].apply(
    lambda x: 1 if str(x).lower() == 'yes' else 0
)

In [9]:
df['is_peak_hour'].value_counts()

is_peak_hour
0    100000
Name: count, dtype: int64

In [10]:
df["profit_margin"].value_counts()

profit_margin
 0.26    1513
 0.00    1506
 0.25    1502
 0.32    1501
 0.14    1479
         ...
 0.41    1362
 0.02    1349
 0.48    1334
 0.50     760
-0.20     732
Name: count, Length: 71, dtype: int64

In [11]:
df['profit_margin_pct'] = df['profit_margin'] * 100

In [12]:
df[['profit_margin','profit_margin_pct']].head(10)

   profit_margin  profit_margin_pct
0           0.13               13.0
1           0.48               48.0
2           0.08                8.0
3           0.04                4.0
4           0.12               12.0
5           0.24               24.0
6           0.02                2.0
7           0.18               18.0
8           0.08                8.0
9           0.03                3.0

In [13]:
def delivery_category(time):
    if time <= 45:
        return 'Fast'
    elif time <= 120:
        return 'Average'
    else:
        return 'Slow'

df['delivery_performance'] = df['delivery_time_min'].apply(delivery_category)

In [16]:
df['delivery_performance'].value_counts(ascending=True)

delivery_performance
Fast       17063
Slow       33246
Average    49691
Name: count, dtype: int64

In [17]:
def age_group(age):
    if age < 18:
        return 'Below 18'
    elif age <= 25:
        return '18-25'
    elif age <= 35:
        return '26-35'
    elif age <= 45:
        return '36-45'
    elif age <= 60:
        return '46-60'
    else:
        return '60+'

df['customer_age_group'] = df['customer_age'].apply(age_group)

In [18]:
df['customer_age_group'].value_counts()

customer_age_group
36-45    61715
46-60    17386
26-35    11653
18-25     9246
Name: count, dtype: int64

In [19]:
df.columns

Index(['order_id', 'customer_id', 'customer_age', 'customer_gender', 'city',
       'area', 'restaurant_id', 'restaurant_name', 'cuisine_type',
       'order_date', 'order_time', 'delivery_time_min', 'distance_km',
       'order_value', 'discount_applied', 'final_amount', 'payment_mode',
       'order_status', 'cancellation_reason', 'delivery_partner_id',
       'delivery_rating', 'restaurant_rating', 'order_day', 'peak_hour',
       'profit_margin', 'day_type', 'order_hour', 'is_peak_hour',
       'profit_margin_pct', 'delivery_performance', 'customer_age_group'],
      dtype='object')

In [ ]:
df = pd.read_csv("../data/processed/food_delivery_final.csv")