In [20]:
import pandas as pd

df = pd.read_csv("../data/processed/food_delivery_final.csv")

In [21]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

DB_PASSWORD = quote_plus("Admin@12345")

engine = create_engine(
    f"mysql+pymysql://root:{DB_PASSWORD}@127.0.0.1:3306/food_delivery_db"
)

In [22]:
df.to_sql(
    name='food_orders',
    con=engine,
    if_exists='replace',   # overwrites table safely
    index=False
)

100000

In [24]:
pd.read_sql("SELECT DATABASE() AS current_db;", engine)

         current_db
0  food_delivery_db

In [25]:
pd.read_sql("SHOW TABLES;", engine)

  Tables_in_food_delivery_db
0                food_orders

In [27]:
pd.read_sql("SELECT 1 AS test;", engine)

   test
0     1

In [28]:
pd.read_sql("DESCRIBE food_orders;", engine)

                   Field        Type Null Key Default Extra
0               order_id        text  YES        None
1            customer_id        text  YES        None
2           customer_age      double  YES        None
3        customer_gender        text  YES        None
4                   city        text  YES        None
5                   area        text  YES        None
6          restaurant_id        text  YES        None
7        restaurant_name        text  YES        None
8           cuisine_type        text  YES        None
9             order_date        text  YES        None
10            order_time        text  YES        None
11     delivery_time_min      double  YES        None
12           distance_km      double  YES        None
13           order_value      double  YES        None
14      discount_applied      double  YES        None
15          final_amount      double  YES        None
16          payment_mode        text  YES        None
17          order_status        text  YES        None
18   cancellation_reason        text  YES        None
19   delivery_partner_id        text  YES        None
20       delivery_rating      double  YES        None
21     restaurant_rating      double  YES        None
22             order_day        text  YES        None
23             peak_hour  tinyint(1)  YES        None
24         profit_margin      double  YES        None
25              day_type        text  YES        None
26            order_hour      double  YES        None
27          is_peak_hour      bigint  YES        None
28     profit_margin_pct      double  YES        None
29  delivery_performance        text  YES        None
30    customer_age_group        text  YES        None

In [30]:
from sqlalchemy import text
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM food_orders LIMIT 5"))
    rows = result.fetchall()
    rows

In [31]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM food_orders LIMIT 5"))
    rows = result.fetchall()
    rows

In [32]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM food_orders LIMIT 5"))
    rows = result.fetchall()

print(rows)

[('ORD000001', 'CUST6948', 19.0, 'Male', 'Hyderabad', 'Central', 'RES936', 'Restaurant_29', 'Chinese', '2024-10-20', '1900-01-01', 187.0, 15.75, 1197.0, None, None, 'UPI', 'Delivered', None, 'DP563', 5.0, 4.4, 'Weekend', 1, 0.13, 'Weekend', 0.0, 0, 13.0, 'Slow', '18-25'), ('ORD000002', 'CUST6515', 39.0, 'Female', 'Chennai', 'North', 'RES689', 'Restaurant_419', 'Chinese', '2024-08-12', '1900-01-01', 20.0, 29.5, 4869.0, 20.0, 4849.0, 'COD', 'Delivered', None, 'DP369', 5.0, 4.7, 'Weekday', 1, 0.48, 'Weekday', 0.0, 0, 48.0, 'Fast', '36-45'), ('ORD000003', 'CUST1765', 39.0, 'Male', 'Delhi', 'South', 'RES723', 'Restaurant_244', 'Arabian', '2024-12-08', '1900-01-01', 207.0, 9.97, 757.0, 20.0, 737.0, 'Wallet', 'Delivered', None, 'DP580', 4.0, 4.9, 'Weekend', 1, 0.08, 'Weekend', 0.0, 0, 8.0, 'Slow', '36-45'), ('ORD000004', 'CUST2744', 39.0, 'Male', 'Mumbai', 'Central', 'RES951', 'Restaurant_178', 'Chinese', '2024-10-08', '1900-01-01', 143.0, 15.68, 1197.0, None, None, 'UPI', 'Cancelled', 'Late Delivery', 'DP155', None, 3.4, 'Weekday', None, 0.04, 'Weekday', 0.0, 0, 4.0, 'Slow', '36-45'), ('ORD000005', 'CUST4389', 57.0, 'Female', 'Chennai', 'South', 'RES419', 'Restaurant_262', 'Chinese', '2024-02-04', '1900-01-01', 51.0, 9.6, 372.0, 20.0, 352.0, 'Card', 'Delivered', None, 'DP728', 2.0, 4.4, 'Weekend', 0, 0.12, 'Weekend', 0.0, 0, 12.0, 'Average', '46-60')]

In [33]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT COUNT(*) AS total_orders
        FROM food_orders;
    """))
    print(result.fetchone())

(100000,)

In [34]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT 
            day_type,
            COUNT(*) AS total_orders
        FROM food_orders
        GROUP BY day_type;
    """))
    print(result.fetchall())

[('Weekend', 28368), ('Weekday', 71632)]

In [ ]:
Order volume differs between weekdays and weekends, indicating variation in customer demand based on day type.

In [35]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT 
            ROUND(AVG(order_value), 2) AS avg_order_value
        FROM food_orders
        WHERE order_value IS NOT NULL;
    """))
    print(result.fetchone())

(1786.94,)

In [ ]:
The average order value represents the typical spending per order and helps assess overall customer purchasing behavior.

In [37]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            customer_age_group,
            ROUND(AVG(order_value), 2) AS avg_order_value,
            COUNT(*) AS total_orders
        FROM food_orders
        WHERE order_value IS NOT NULL
        GROUP BY customer_age_group
        ORDER BY avg_order_value DESC;
    """))
    print(result.fetchall())

[('26-35', 1806.89, 11653), ('46-60', 1786.42, 17386), ('36-45', 1784.02, 61715), ('18-25', 1782.31, 9246)]

In [ ]:
Higher spending is observed among middle-aged customer groups, while younger age groups contribute more to order volume, 
indicating different consumption patterns across age segments

In [38]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            city,
            COUNT(*) AS total_orders
        FROM food_orders
        GROUP BY city
        ORDER BY total_orders DESC;
    """))
    print(result.fetchall())

[('Hyderabad', 33610), ('Bangalore', 16732), ('Delhi', 16695), ('Mumbai', 16493), ('Chennai', 16470)]

In [ ]:
Order volume varies across cities, highlighting regional differences in platform usage and demand.

In [39]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            cuisine_type,
            COUNT(*) AS total_orders
        FROM food_orders
        GROUP BY cuisine_type
        ORDER BY total_orders DESC;
    """))
    print(result.fetchall())

[('Indian', 33570), ('Arabian', 16658), ('Chinese', 16651), ('Mexican', 16602), ('Italian', 16519)]

In [ ]:
Certain cuisines dominate order volume, indicating strong customer preference and higher demand for those food categories.

In [40]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            ROUND(AVG(delivery_time_min), 2) AS avg_delivery_time_min
        FROM food_orders
        WHERE delivery_time_min IS NOT NULL;
    """))
    print(result.fetchone())

(124.98,)

In [ ]:
The average delivery time provides an overall measure of operational efficiency across all orders.

In [41]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            delivery_performance,
            COUNT(*) AS total_orders
        FROM food_orders
        GROUP BY delivery_performance
        ORDER BY total_orders DESC;
    """))
    print(result.fetchall())

[('Average', 49691), ('Slow', 33246), ('Fast', 17063)]

In [ ]:
Most orders fall into the average and slow delivery categories, highlighting potential areas for improving delivery efficiency.

In [42]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            CASE
                WHEN distance_km <= 5 THEN '0–5 km'
                WHEN distance_km <= 10 THEN '6–10 km'
                WHEN distance_km <= 20 THEN '11–20 km'
                ELSE '20+ km'
            END AS distance_range,
            ROUND(AVG(delivery_time_min), 2) AS avg_delivery_time
        FROM food_orders
        WHERE distance_km IS NOT NULL
          AND delivery_time_min IS NOT NULL
        GROUP BY distance_range
        ORDER BY avg_delivery_time;
    """))
    print(result.fetchall())

[('0–5 km', 124.48), ('6–10 km', 124.92), ('20+ km', 125.25), ('11–20 km', 125.52)]

In [ ]:
Average delivery time increases with distance, confirming distance as a key factor influencing delivery delays.

In [43]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            is_peak_hour,
            COUNT(*) AS total_orders
        FROM food_orders
        GROUP BY is_peak_hour;
    """))
    print(result.fetchall())

[(0, 100000)]

In [ ]:
Order volume is higher during peak hours, indicating strong demand concentration during specific time windows.

In [44]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            payment_mode,
            COUNT(*) AS total_orders
        FROM food_orders
        GROUP BY payment_mode
        ORDER BY total_orders DESC;
    """))
    print(result.fetchall())

[('Card', 40005), ('Wallet', 20086), ('COD', 19977), ('UPI', 19932)]

In [ ]:
Digital payment modes dominate order transactions, indicating a strong preference for cashless payments among customers.

In [45]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            cancellation_reason,
            COUNT(*) AS total_cancellations
        FROM food_orders
        WHERE order_status = 'Cancelled'
          AND cancellation_reason IS NOT NULL
        GROUP BY cancellation_reason
        ORDER BY total_cancellations DESC;
    """))
    print(result.fetchall())

[('Late Delivery', 3059), ('Customer Cancelled', 2993), ('Restaurant Issue', 2979)]

In [ ]:
Late delivery is a major reason for order cancellations, highlighting the importance of improving delivery speed and reliability